<?xml version="1.0" ?>
 <arcane-config code-name="CMolecule">
  <time-loops>
    <time-loop name="CMAMALoop">
      <title>CM</title>
      <description>Default timeloop for code CMolecule</description>

      <modules>
        <module name="CM" need="required" />
      </modules>

      <entry-points where="init">
        <entry-point name="CM.StartInit" />
      </entry-points>
      <entry-points where="compute-loop">
        <entry-point name="CM.Compute" />
      </entry-points>
    </time-loop>
  </time-loops>
</arcane-config>
